#bg .bg-block {
    width: 100px;
    height: 100px;
    border: .1px solid #6a6a6a;
    position: relative;
}

#bg .bg-block .bg-dot {
    background-color: #a9a9a9;
    width: 2.5px;
    height: 2.5px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#bg .bg-block .bg-corner {
    background-color: #bbbbbb;
    width: 6px;
    height: 1px;
    left: -3.5px;
    top: -1px;
    position: absolute;
}

#bg .bg-block .bg-corner2 {
    background-color: #bbbbbb;
    width: 1px;
    height: 6px;
    left: -1px;
    top: -3.5px;
    position: absolute;
}

#bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 99px);
    overflow: hidden;
    margin-left: -50px;

    background-image: url('bg-desktop.svg');
}

@font-face {
    font-family: LetterGothicMTStd-Bold;
    src: url("Letter Gothic MT Std Bold.otf") format("opentype");
}

html {
    font-family: LetterGothicMTStd-Bold !important;
}

h1 {
    color: rgb(209, 163, 36);
    font-size: 4rem !important;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    text-align: center;
}

input,
select {
    color: black !important;
}

input {
    width: 100px;
}

button {
    color: white;
    border: 1px solid rgb(155, 155, 155);
    padding: 15px 60px !important;
    width: auto;
    display: inline-block;
}

.button {
    color: white;
    width: auto;
    display: inline-block;
    position: relative;
    background-color: rgba(155, 155, 155, 0.094);
    transition: background-color 0.15s;
}

.button:hover {
    background-color: rgba(155, 155, 155, 0.294);
}

.button-cross1 {
    --size: 15px;
    background-color: #bbbbbb;
    width: 2px;
    height: var(--size);
    right: -1px;
    top: calc(var(--size) / -2);
    position: absolute;
}

.button-cross2 {
    --size: 15px;
    background-color: #bbbbbb;
    width: var(--size);
    height: 2px;
    right: calc(var(--size) / -2);
    top: -1px;
    position: absolute;
}